{% from 'modal_dialogs.html' import restrict_modal, delete_book, filechooser_modal, delete_confirm_modal, change_confirm_modal %}
{% import 'image.html' as image %}
<!DOCTYPE html>
<html lang="{{ current_user.locale }}">
  <head>
    <title>{{instance}} | {{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% block header %}{% endblock %}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
  </head>


<!-- BEGIN MAIN APP-->    
<body class="{{ page }} {{ bodyClass }}">
<div class="app-wrapper">
{% if current_user.is_authenticated or g.allow_anonymous %}
    <div id="navbar">
      <div id="navbar-menus-wrapper">        
        <div class="navigation-items">
            <button id="nav-books" class="nav-button" onclick="navigateToBooks()" data-books-url="{{url_for('web.books')}}">
              <div class="nav-button-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M231.65,194.55,198.46,36.75a16,16,0,0,0-19-12.39L132.65,34.42a16.08,16.08,0,0,0-12.3,19l33.19,157.8A16,16,0,0,0,169.16,224a16.25,16.25,0,0,0,3.38-.36l46.81-10.06A16.09,16.09,0,0,0,231.65,194.55ZM136,50.15c0-.06,0-.09,0-.09l46.8-10,3.33,15.87L139.33,66Zm6.62,31.47,46.82-10.05,3.34,15.9L146,97.53Zm6.64,31.57,46.82-10.06,13.3,63.24-46.82,10.06ZM216,197.94l-46.8,10-3.33-15.87L212.67,182,216,197.85C216,197.91,216,197.94,216,197.94ZM104,32H56A16,16,0,0,0,40,48V208a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V48A16,16,0,0,0,104,32ZM56,48h48V64H56Zm0,32h48v96H56Zm48,128H56V192h48v16Z"></path></svg>
              </div>
              <div class="nav-button-text">
                Books
                </div>
            </button>
            <button id="nav-last" class="nav-button" onclick="goToLastBook()">
              <div class="nav-button-icon">
               <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M232,48H160a40,40,0,0,0-32,16A40,40,0,0,0,96,48H24a8,8,0,0,0-8,8V200a8,8,0,0,0,8,8H96a24,24,0,0,1,24,24,8,8,0,0,0,16,0,24,24,0,0,1,24-24h72a8,8,0,0,0,8-8V56A8,8,0,0,0,232,48ZM96,192H32V64H96a24,24,0,0,1,24,24V200A39.81,39.81,0,0,0,96,192Zm128,0H160a39.81,39.81,0,0,0-24,8V88a24,24,0,0,1,24-24h64Z"></path></svg>
              </div>
              <div class="nav-button-text">
               Last
              </div>
            </button>
            <button id="nav-recent" class="nav-button" onclick="window.location.href='{{url_for('web.books_list', data='newest', book_id=1, sort_param='new')}}'">
              <div class="nav-button-icon">
               <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M136,80v43.47l36.12,21.67a8,8,0,0,1-8.24,13.72l-40-24A8,8,0,0,1,120,128V80a8,8,0,0,1,16,0Zm-8-48A95.44,95.44,0,0,0,60.08,60.15C52.81,67.51,46.35,74.59,40,82V64a8,8,0,0,0-16,0v40a8,8,0,0,0,8,8H72a8,8,0,0,0,0-16H49c7.15-8.42,14.27-16.35,22.39-24.57a80,80,0,1,1,1.66,114.75,8,8,0,1,0-11,11.64A96,96,0,1,0,128,32Z"></path></svg>
              </div>
              <div class="nav-button-text">
               Recent
              </div>
            </button>
            <button id="nav-search" class="nav-button" onclick="window.location.href='{{url_for('search.advanced_search_form')}}'">
              <div class="nav-button-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path></svg>
              </div>
              <div class="nav-button-text">
                Search
              </div>
            </button>
        </div>
        <div class="navigation-items">
          <details class="user-popover">
            <summary class="nav-button">
               <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24ZM74.08,197.5a64,64,0,0,1,107.84,0,87.83,87.83,0,0,1-107.84,0ZM96,120a32,32,0,1,1,32,32A32,32,0,0,1,96,120Zm97.76,66.41a79.66,79.66,0,0,0-36.06-28.75,48,48,0,1,0-59.4,0,79.66,79.66,0,0,0-36.06,28.75,88,88,0,1,1,131.52,0Z"></path></svg> 
            </summary>
            <div class="user-popover-menu">
              <div class="user-popover-arrow"></div>
              <h3>User Settings</h3>
              {% if current_user.is_anonymous %}
              <button class="user-popup-button" onclick="window.location.href='{{url_for('web.login')}}'">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M141.66,133.66l-40,40a8,8,0,0,1-11.32-11.32L116.69,136H24a8,8,0,0,1,0-16h92.69L90.34,93.66a8,8,0,0,1,11.32-11.32l40,40A8,8,0,0,1,141.66,133.66ZM192,32H136a8,8,0,0,0,0,16h56V208H136a8,8,0,0,0,0,16h56a16,16,0,0,0,16-16V48A16,16,0,0,0,192,32Z"></path></svg>
                Sign In
              </button>
              {% if config.config_public_reg %}
              <button class="user-popup-button" onclick="window.location.href='{{url_for('web.register')}}'">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M256,136a8,8,0,0,1-8,8H232v16a8,8,0,0,1-16,0V144H200a8,8,0,0,1,0-16h16V112a8,8,0,0,1,16,0v16h16A8,8,0,0,1,256,136Zm-57.87,58.85a8,8,0,0,1-12.26,10.3C165.75,181.19,138.09,168,108,168s-57.75,13.19-77.87,37.15a8,8,0,0,1-12.25-10.3A109.21,109.21,0,0,1,56,161.06a68,68,0,1,1,104,0A109.21,109.21,0,0,1,198.13,194.85ZM108,152a52,52,0,1,0-52-52A52.06,52.06,0,0,0,108,152Z"></path></svg>
                Sign Up
              </button>
              {% endif %}
              {% else %}
              <button class="user-popup-button" data-profile-url="{{url_for('web.profile')}}" onclick="navigateToProfile()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"></path></svg>
                Edit Profile
              </button>
              {% endif %}
            {% if current_user.role_admin() %}
            <button class="user-popup-button" data-admin-url="{{url_for('admin.admin')}}" onclick="navigateToAdmin()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M128,80a48,48,0,1,0,48,48A48.06,48.06,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Zm95.68-93.85L135.68,18a15.88,15.88,0,0,0-15.36,0l-88,48.17a16,16,0,0,0-8.32,14v95.64a16,16,0,0,0,8.32,14l88,48.17a15.88,15.88,0,0,0,15.36,0l88-48.17h0a16,16,0,0,0,8.32-14V80.18A16,16,0,0,0,223.68,66.15ZM128,224,40,175.82V80.18L128,32l88,48.17v95.64Z"></path></svg>
                Server Administration
            </button>
            <button class="user-popup-button" onclick="window.location.href='{{url_for('tasks.get_tasks_status')}}'">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M149.61,85.71l-89.6,88a8,8,0,0,1-11.22,0L10.39,136a8,8,0,1,1,11.22-11.41L54.4,156.79l84-82.5a8,8,0,1,1,11.22,11.42Zm96.1-11.32a8,8,0,0,0-11.32-.1l-84,82.5-18.83-18.5a8,8,0,0,0-11.21,11.42l24.43,24a8,8,0,0,0,11.22,0l89.6-88A8,8,0,0,0,245.71,74.39Z"></path></svg>
                Server Tasks
            </button>            {% endif %}
            {% if not current_user.is_anonymous %}
            <button class="user-popup-button" onclick="window.location.href='{{url_for('web.logout')}}'">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M120,216a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V40a8,8,0,0,1,8-8h64a8,8,0,0,1,0,16H56V208h56A8,8,0,0,1,120,216Zm109.66-93.66-40-40a8,8,0,0,0-11.32,11.32L204.69,120H112a8,8,0,0,0,0,16h92.69l-26.35,26.34a8,8,0,0,0,11.32,11.32l40-40A8,8,0,0,0,229.66,122.34Z"></path></svg>
                Sign Out
            </button> 
            {% endif %}
            </div>
          </details>
          </div>
        </div>
      </div>


{% if request.endpoint == 'web.index' or request.endpoint == 'web.books' or request.endpoint == 'web.books_list'  or request.endpoint == 'admin.admin' %}

<aside class="sidebar">


  {% if request.endpoint == 'admin.admin' and current_user.role_admin() %}
  <div class="side-head">
    <div><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M128,80a48,48,0,1,0,48,48A48.06,48.06,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Zm95.68-93.85L135.68,18a15.88,15.88,0,0,0-15.36,0l-88,48.17a16,16,0,0,0-8.32,14v95.64a16,16,0,0,0,8.32,14l88,48.17a15.88,15.88,0,0,0,15.36,0l88-48.17h0a16,16,0,0,0,8.32-14V80.18A16,16,0,0,0,223.68,66.15ZM128,224,40,175.82V80.18L128,32l88,48.17v95.64Z"></path></svg></div>
    <div class="side-head-text"><h3 class="sidebar-header">Settings</h3></div>
  </div>
<nav class="side-wrapper">
  <ul>
    <li><a class="admin-section-link" href="#users">Users & Permissions</a></li>
    <li><a class="admin-section-link" href="#data">Files & Metadata</a></li>
    <li><a class="admin-section-link" href="#integrations">Integrations</a></li>
    <li><a class="admin-section-link" href="#security">Security</a></li>
    <li><a class="admin-section-link" href="#server">Server Settings</a></li>
    <li><a class="admin-section-link" href="#about">About</a></li>
  </ul>
</nav>
<!--script>
  document.querySelectorAll('.admin-section-link').forEach(function(link) {
    link.addEventListener('click', function(e) {
      e.preventDefault();
      var target = document.querySelector(this.getAttribute('href'));
      if (target) {
        target.scrollIntoView({ behavior: 'smooth', block: 'start' });
      }
    });
  });
</script-->

{% endif %}

{% if request.endpoint == 'web.index' or request.endpoint == 'web.books' or request.endpoint == 'web.books_list' %}

  
  <div class="side-head">
    <div><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M200,136a8,8,0,0,1-8,8H64a8,8,0,0,1,0-16H192A8,8,0,0,1,200,136Zm32-56H24a8,8,0,0,0,0,16H232a8,8,0,0,0,0-16Zm-80,96H104a8,8,0,0,0,0,16h48a8,8,0,0,0,0-16Z"></path></svg></div>
    <div class="side-head-text"><h3 class="sidebar-header">Filters</h3></div>
  </div>
  <button class="clear-filters-btn" id="clear-filters" style="display:none;">Clear Filters</button>
  <div class="side-wrapper" id="sidebar-filters">

  {% if filter_tags %}
  <details class="filter-section" open>
    <summary class="filter-section-title">Tags</summary>
    <div class="filter-options" data-max-visible="5">
      {% for tag in filter_tags %}
      <label{% if loop.index > 5 %} class="filter-overflow" style="display:none"{% endif %}><input type="checkbox" data-filter-type="tags" data-filter-value="{{ tag.name }}"> {{ tag.name }}</label>
      {% endfor %}
      {% if filter_tags|length > 5 %}
      <button class="filter-show-more" type="button">Show {{ filter_tags|length - 5 }} more</button>
      {% endif %}
    </div>
  </details>
  {% endif %}

  {% if filter_authors %}
  <details class="filter-section" open>
    <summary class="filter-section-title">Authors</summary>
    <div class="filter-options" data-max-visible="5">
      {% for author in filter_authors %}
      <label{% if loop.index > 5 %} class="filter-overflow" style="display:none"{% endif %}><input type="checkbox" data-filter-type="author" data-filter-value="{{ author.name }}"> {{ author.name }}</label>
      {% endfor %}
      {% if filter_authors|length > 5 %}
      <button class="filter-show-more" type="button">Show {{ filter_authors|length - 5 }} more</button>
      {% endif %}
    </div>
  </details>
  {% endif %}

  {% if filter_series %}
  <details class="filter-section" open>
    <summary class="filter-section-title">Series</summary>
    <div class="filter-options" data-max-visible="5">
      {% for s in filter_series %}
      <label{% if loop.index > 5 %} class="filter-overflow" style="display:none"{% endif %}><input type="checkbox" data-filter-type="series" data-filter-value="{{ s.name }}"> {{ s.name }}</label>
      {% endfor %}
      {% if filter_series|length > 5 %}
      <button class="filter-show-more" type="button">Show {{ filter_series|length - 5 }} more</button>
      {% endif %}
    </div>
  </details>
  {% endif %}

  {% if filter_languages %}
  <details class="filter-section" open>
    <summary class="filter-section-title">Language</summary>
    <div class="filter-options" data-max-visible="5">
      {% for lang in filter_languages %}
      <label{% if loop.index > 5 %} class="filter-overflow" style="display:none"{% endif %}><input type="checkbox" data-filter-type="languages" data-filter-value="{{ lang.lang_code }}"> {{ lang.display_name }}</label>
      {% endfor %}
      {% if filter_languages|length > 5 %}
      <button class="filter-show-more" type="button">Show {{ filter_languages|length - 5 }} more</button>
      {% endif %}
    </div>
  </details>
  {% endif %}

  {% if filter_publishers %}
  <details class="filter-section" open>
    <summary class="filter-section-title">Publishers</summary>
    <div class="filter-options" data-max-visible="5">
      {% for pub in filter_publishers %}
      <label{% if loop.index > 5 %} class="filter-overflow" style="display:none"{% endif %}><input type="checkbox" data-filter-type="publishers" data-filter-value="{{ pub.name }}"> {{ pub.name }}</label>
      {% endfor %}
      {% if filter_publishers|length > 5 %}
      <button class="filter-show-more" type="button">Show {{ filter_publishers|length - 5 }} more</button>
      {% endif %}
    </div>
  </details>
  {% endif %}

  <details class="filter-section" open>
    <summary class="filter-section-title">Rating</summary>
    <div class="filter-options">
      {% for stars in [5, 4, 3, 2, 1] %}
      <label><input type="checkbox" data-filter-type="rating" data-filter-value="{{ stars }}"> {{ '★' * stars }}{{ '☆' * (5 - stars) }}</label>
      {% endfor %}
    </div>
  </details>

  <details class="filter-section" open>
    <summary class="filter-section-title">Published</summary>
    <div class="filter-options">
      <label><input type="checkbox" data-filter-type="pubdate" data-filter-value="2"> Last 2 years</label>
      <label><input type="checkbox" data-filter-type="pubdate" data-filter-value="5"> 2–5 years ago</label>
      <label><input type="checkbox" data-filter-type="pubdate" data-filter-value="10"> 5–10 years ago</label>
      <label><input type="checkbox" data-filter-type="pubdate" data-filter-value="20"> 10–20 years ago</label>
      <label><input type="checkbox" data-filter-type="pubdate" data-filter-value="999"> 20+ years ago</label>
    </div>
  </details>

  </div>
  <script>
  (function() {
    var btns = document.querySelectorAll('.filter-show-more');
    btns.forEach(function(btn) {
      var container = btn.closest('.filter-options');
      var overflow = container.querySelectorAll('.filter-overflow');
      var expanded = false;
      var count = overflow.length;
      btn.addEventListener('click', function() {
        expanded = !expanded;
        overflow.forEach(function(el) { el.style.display = expanded ? '' : 'none'; });
        btn.textContent = expanded ? 'Show less' : 'Show ' + count + ' more';
      });
    });
  })();
  </script>
{% endif %}

</aside>



 

{% endif %}

{% endif %}

<div id="popover-overlay"></div>
<div class="main-content-area">
    <div class="action-bar">{% block action_bar %}{% endblock %}</div>
      <div class="main-content-wrapper">{% block body %}{% endblock %}</div>
</div>

   {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <div id="toast-container">
          {% for category, message in messages %}
            <div class="toast toast-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}



        <script>
      function goToLastBook() {
        var last = localStorage.getItem('lastBookUrl');
        window.location.href = last || '{{ url_for('web.books') }}';
      }
    </script>

        <script>
      document.querySelectorAll('.toast').forEach(function(toast) {
        setTimeout(function() {
          toast.classList.add('toast-hiding');
          toast.addEventListener('animationend', function() { toast.remove(); });
        }, 3000);
      });
    </script>

    <script>
      // Unified popover manager — only one popover open at a time
      window.Popovers = (function() {
        var overlay = document.getElementById('popover-overlay');
        var closers = [];

        function showOverlay() { overlay.style.display = 'block'; }
        function hideOverlay() { overlay.style.display = 'none'; }

        function closeAll(except) {
          closers.forEach(function(c) { if (c !== except) c(); });
        }

        function register(closeFn) {
          closers.push(closeFn);
          return closeFn;
        }

        function unregister(closeFn) {
          var idx = closers.indexOf(closeFn);
          if (idx !== -1) closers.splice(idx, 1);
        }

        // Register details-based popovers (user settings, sort menu)
        function registerDetailsPopovers() {
          document.querySelectorAll('details.user-popover, details.sort-dropdown').forEach(function(d) {
            if (d.dataset.popoverRegistered) return;
            d.dataset.popoverRegistered = 'true';
            var close = register(function() {
              d.removeAttribute('open');
            });
            d.querySelector('summary').addEventListener('click', function() {
              if (!d.open) {
                closeAll(close);
              }
            });
          });
        }
        registerDetailsPopovers();

        // Overlay click closes everything
        overlay.addEventListener('click', function() {
          closeAll();
        });

        // Click outside closes details popovers
        document.addEventListener('click', function(e) {
          if (e.target.closest('summary')) return;
          document.querySelectorAll('details.sort-dropdown[open], details.user-popover[open]').forEach(function(d) {
            if (!d.contains(e.target)) d.removeAttribute('open');
          });
        });

        // Escape closes everything
        document.addEventListener('keydown', function(e) {
          if (e.key === 'Escape') closeAll();
        });

        return { closeAll: closeAll, register: register, unregister: unregister,
                 registerDetailsPopovers: registerDetailsPopovers,
                 showOverlay: showOverlay, hideOverlay: hideOverlay };
      })();
    </script>

    <script>
    // --- SPA-like AJAX navigation ---
    function initFilterShowMore() {
      document.querySelectorAll('.filter-show-more').forEach(function(btn) {
        if (btn.dataset.bound) return;
        btn.dataset.bound = 'true';
        var container = btn.closest('.filter-options');
        var overflow = container.querySelectorAll('.filter-overflow');
        var expanded = false;
        var count = overflow.length;
        btn.addEventListener('click', function() {
          expanded = !expanded;
          overflow.forEach(function(el) { el.style.display = expanded ? '' : 'none'; });
          btn.textContent = expanded ? 'Show less' : 'Show ' + count + ' more';
        });
      });
    }

    // Execute script tags inside a container (innerHTML doesn't run scripts)
    function executePageScripts(container, callback) {
      var scripts = Array.from(container.querySelectorAll('script'));
      var i = 0;

      function next() {
        if (i >= scripts.length) {
          if (callback) callback();
          return;
        }
        var oldScript = scripts[i++];

        // Skip template blocks (e.g. underscore.js templates)
        if (oldScript.type && oldScript.type !== 'text/javascript' && oldScript.type !== '') {
          next();
          return;
        }

        var newScript = document.createElement('script');
        if (oldScript.src) {
          newScript.src = oldScript.src;
          newScript.onload = next;
          newScript.onerror = next;
        } else {
          newScript.textContent = oldScript.textContent;
        }
        oldScript.parentNode.replaceChild(newScript, oldScript);
        if (!oldScript.src) next(); // inline scripts execute synchronously
      }

      next();
    }

    // General AJAX page navigation
    window.navigateAjax = function(url) {
      // Close any open popovers immediately
      window.Popovers.closeAll();

      // Tear down current page's JS
      if (window.__booksPageDestroy) {
        window.__booksPageDestroy();
        window.__booksPageDestroy = null;
      }

      fetch(url)
        .then(function(r) { return r.text(); })
        .then(function(html) {
          var doc = new DOMParser().parseFromString(html, 'text/html');

          // 1. Update body class
          document.body.className = doc.body.className;

          // 2. Handle sidebar
          var newSidebar = doc.querySelector('aside.sidebar');
          var currentSidebar = document.querySelector('aside.sidebar');
          var popoverOverlay = document.getElementById('popover-overlay');

          if (newSidebar) {
            if (currentSidebar) {
              currentSidebar.innerHTML = newSidebar.innerHTML;
            } else {
              popoverOverlay.parentNode.insertBefore(newSidebar, popoverOverlay);
            }
            initFilterShowMore();
          } else if (currentSidebar) {
            currentSidebar.remove();
          }

          // 3. Replace action bar
          var newActionBar = doc.querySelector('.action-bar');
          var currentActionBar = document.querySelector('.action-bar');
          if (newActionBar && currentActionBar) {
            currentActionBar.innerHTML = newActionBar.innerHTML;
          }

          // 4. Replace main content
          var newMainContent = doc.querySelector('.main-content-wrapper');
          var currentMainContent = document.querySelector('.main-content-wrapper');
          if (newMainContent && currentMainContent) {
            currentMainContent.innerHTML = newMainContent.innerHTML;
          }

          // 5. Execute inline scripts in the new main content
          executePageScripts(currentMainContent, function() {
            // 6. Replace and execute page-specific scripts (block js)
            var newPageScripts = doc.getElementById('page-scripts');
            var currentPageScripts = document.getElementById('page-scripts');
            if (newPageScripts && currentPageScripts) {
              currentPageScripts.innerHTML = newPageScripts.innerHTML;
              executePageScripts(currentPageScripts);
            }
          });

          // 7. Update browser URL
          history.pushState({ ajaxNav: true }, '', url);

          // 8. Update document title
          var newTitle = doc.querySelector('title');
          if (newTitle) document.title = newTitle.textContent;

          // 9. Register new details-based popovers (sort dropdown, etc.)
          window.Popovers.registerDetailsPopovers();
        })
        .catch(function(err) {
          console.error('AJAX nav failed, falling back:', err);
          window.location.href = url;
        });
    };

    // --- Books button ---
    function navigateToBooks() {
      var booksUrl = document.getElementById('nav-books').dataset.booksUrl;
      var mainContent = document.querySelector('.main-content');
      var grid = document.querySelector('.books-grid');

      // Already on books page?
      if (mainContent && grid) {
        if (mainContent.scrollTop > 5) {
          mainContent.scrollTo({ top: 0, behavior: 'smooth' });
          return;
        }
        // Already at top — fade-refresh the grid
        refreshBooksGrid(booksUrl, grid);
        return;
      }

      window.navigateAjax(booksUrl);
    }

    function refreshBooksGrid(booksUrl, grid) {
      grid.style.transition = 'opacity 0.15s ease';
      grid.style.opacity = '0';

      fetch(booksUrl)
        .then(function(r) { return r.text(); })
        .then(function(html) {
          var doc = new DOMParser().parseFromString(html, 'text/html');
          var newGrid = doc.querySelector('.books-grid');
          if (!newGrid) return;

          setTimeout(function() {
            grid.innerHTML = newGrid.innerHTML;

            var newNext = newGrid.dataset.nextUrl;
            if (newNext) {
              grid.dataset.nextUrl = newNext;
            } else {
              delete grid.dataset.nextUrl;
            }

            var saved = localStorage.getItem('coverSize');
            if (saved) grid.style.setProperty('--cover-size', saved + 'px');

            grid.style.opacity = '1';
            setTimeout(function() { grid.style.transition = ''; }, 150);
          }, 150);
        })
        .catch(function() {
          grid.style.opacity = '1';
          grid.style.transition = '';
        });
    }

    // --- Admin button ---
    function navigateToAdmin() {
      window.Popovers.closeAll();
      var btn = document.querySelector('[data-admin-url]');
      if (!btn) return;
      var adminUrl = btn.dataset.adminUrl;
      var wrapper = document.querySelector('.admin-page-wrapper');

      if (wrapper) {
        if (wrapper.scrollTop > 5) {
          wrapper.scrollTo({ top: 0, behavior: 'smooth' });
          return;
        }
        refreshPageContent(adminUrl, '.admin-page-wrapper');
        return;
      }

      window.navigateAjax(adminUrl);
    }

    // --- Profile button ---
    function navigateToProfile() {
      window.Popovers.closeAll();
      var btn = document.querySelector('[data-profile-url]');
      if (!btn) return;
      var profileUrl = btn.dataset.profileUrl;
      var wrapper = document.getElementById('user-edit-form');

      if (wrapper) {
        var scrollable = wrapper.closest('.admin-page-wrapper') || document.querySelector('.main-content-wrapper');
        if (scrollable && scrollable.scrollTop > 5) {
          scrollable.scrollTo({ top: 0, behavior: 'smooth' });
          return;
        }
        refreshPageContent(profileUrl, '.admin-page-wrapper', '.main-content-wrapper');
        return;
      }

      window.navigateAjax(profileUrl);
    }

    // Fade-refresh any page's content area
    function refreshPageContent(url, selector, fallbackSelector) {
      var el = document.querySelector(selector) || (fallbackSelector && document.querySelector(fallbackSelector));
      if (!el) return;

      el.style.transition = 'opacity 0.15s ease';
      el.style.opacity = '0';

      fetch(url)
        .then(function(r) { return r.text(); })
        .then(function(html) {
          var doc = new DOMParser().parseFromString(html, 'text/html');
          var newEl = doc.querySelector(selector) || (fallbackSelector && doc.querySelector(fallbackSelector));
          if (!newEl) return;

          setTimeout(function() {
            el.innerHTML = newEl.innerHTML;
            executePageScripts(el);
            el.style.opacity = '1';
            setTimeout(function() { el.style.transition = ''; }, 150);
          }, 150);
        })
        .catch(function() {
          el.style.opacity = '1';
          el.style.transition = '';
        });
    }

    // Handle browser back/forward
    window.addEventListener('popstate', function(e) {
      if (e.state && e.state.ajaxNav) {
        window.location.reload();
      }
    });
    </script>

    <div id="page-scripts">{% block js %}{% endblock %}</div>

<!--END MAIN APP-->

</body>
</html>