<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>{{_('epub Reader')}} | {{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    {% if g.google_site_verification|length > 0 %}
    <meta name="google-site-verification" content="{{g.google_site_verification}}">
    {% endif %}
    <link rel="apple-touch-icon" sizes="140x140" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.bunny.net/css?family=Inter:300,400,500,700|Literata:300,400,400i,700,700i|Merriweather:300,400,400i,700,700i|Lora:300,400,400i,700,700i|Source+Sans+3:300,400,400i,700,700i|Zilla+Slab:300,400,400i,700,700i&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/epub_themes.css') }}">
</head>
<body>
    <script>localStorage.setItem('lastBookUrl', window.location.pathname);</script>
    <div id="sidebar">
        <div id="panels">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="panel-tabs">
              <a id="show-Toc" class="show_view active" data-view="Toc"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 256 256"><path d="M88,64a8,8,0,0,1,8-8H216a8,8,0,0,1,0,16H96A8,8,0,0,1,88,64Zm128,56H96a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Zm0,64H96a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16ZM56,56H40a8,8,0,0,0,0,16H56a8,8,0,0,0,0-16Zm0,64H40a8,8,0,0,0,0,16H56a8,8,0,0,0,0-16Zm0,64H40a8,8,0,0,0,0,16H56a8,8,0,0,0,0-16Z"></path></svg>Contents</a>
              <a id="show-Bookmarks" class="show_view" data-view="Bookmarks"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 256 256"><path d="M192,24H96A16,16,0,0,0,80,40V56H64A16,16,0,0,0,48,72V224a8,8,0,0,0,12.65,6.51L112,193.83l51.36,36.68A8,8,0,0,0,176,224V184.69l19.35,13.82A8,8,0,0,0,208,192V40A16,16,0,0,0,192,24ZM160,208.46l-43.36-31a8,8,0,0,0-9.3,0L64,208.45V72h96Zm32-32L176,165V72a16,16,0,0,0-16-16H96V40h96Z"></path></svg>Bookmarks</a>
            </div>
        </div>
        <div id="tocView" class="view active"></div>
        <div id="bookmarksView" class="view">
            <ul id="bookmarks"></ul>
            <div id="bookmarks-empty" class="blank-state">No bookmarks</div>
        </div>
    </div>
    <div id="main">
        <div id="titlebar">
            <div id="opener">
                <a id="back-btn" href="{{ url_for('web.index') }}"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path></svg></a>
            </div>
            <div id="metainfo">
                <span id="book-title"></span>
                <span id="title-seperator">&nbsp;&nbsp;–&nbsp;&nbsp;</span>
                <span id="chapter-title"></span>
            </div>
            <div id="title-controls">
                <a id="bookmark" class="icon-bookmark-empty"><svg class="bookmark-outline" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 256 256"><path d="M184,32H72A16,16,0,0,0,56,48V224a8,8,0,0,0,12.24,6.78L128,193.43l59.77,37.35A8,8,0,0,0,200,224V48A16,16,0,0,0,184,32Zm0,177.57-51.77-32.35a8,8,0,0,0-8.48,0L72,209.57V48H184Z"></path></svg><svg class="bookmark-filled" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 256 256"><path d="M184,32H72A16,16,0,0,0,56,48V224a8,8,0,0,0,12.24,6.78L128,193.43l59.77,37.35A8,8,0,0,0,200,224V48A16,16,0,0,0,184,32Z"></path></svg></a>
                <a id="setting" class="icon-cog"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 256 256"><path d="M64,105V40a8,8,0,0,0-16,0v65a32,32,0,0,0,0,62v49a8,8,0,0,0,16,0V167a32,32,0,0,0,0-62Zm-8,47a16,16,0,1,1,16-16A16,16,0,0,1,56,152Zm80-95V40a8,8,0,0,0-16,0V57a32,32,0,0,0,0,62v97a8,8,0,0,0,16,0V119a32,32,0,0,0,0-62Zm-8,47a16,16,0,1,1,16-16A16,16,0,0,1,128,104Zm104,64a32.06,32.06,0,0,0-24-31V40a8,8,0,0,0-16,0v97a32,32,0,0,0,0,62v17a8,8,0,0,0,16,0V199A32.06,32.06,0,0,0,232,168Zm-32,16a16,16,0,1,1,16-16A16,16,0,0,1,200,184Z"></path></svg></a>
                <a id="fullscreen" class="icon-resize-full"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 256 256"><path d="M216,48V96a8,8,0,0,1-16,0V67.31l-50.34,50.35a8,8,0,0,1-11.32-11.32L188.69,56H160a8,8,0,0,1,0-16h48A8,8,0,0,1,216,48ZM106.34,138.34,56,188.69V160a8,8,0,0,0-16,0v48a8,8,0,0,0,8,8H96a8,8,0,0,0,0-16H67.31l50.35-50.34a8,8,0,0,0-11.32-11.32Z"></path></svg></a>
                <a id="slider" class="icon-menu"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 256 256"><path d="M140,128a12,12,0,1,1-12-12A12,12,0,0,1,140,128ZM128,72a12,12,0,1,0-12-12A12,12,0,0,0,128,72Zm0,112a12,12,0,1,0,12,12A12,12,0,0,0,128,184Z"></path></svg></a>
            </div>
        </div>
        <div id="prev" class="arrow"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256"><path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path></svg></div>
        <div id="viewer"></div>
        <div id="next" class="arrow"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256"><path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg></div>
        <div class="read-footer">
            <div id="pages-count"></div>
            <div id="progress">0%</div>
        </div>
        <div id="loader"><img src="{{ url_for('static', filename='img/loader.gif') }}"></div>
    </div>
    <div class="modal md-effect-1" id="settings-modal">
        <div class="md-content">
            <h3>{{_('Customize')}}</h3>
            <div class="form-group themes" id="themes">
                <div class="theme-swatches">
                <button type="button" id="lightTheme" class="theme-swatch lightTheme active" onclick="selectTheme(this.id)" title="Light"></button>
                <button type="button" id="sepiaTheme" class="theme-swatch sepiaTheme" onclick="selectTheme(this.id)" title="Sepia"></button>
                <button type="button" id="amberTheme" class="theme-swatch amberTheme" onclick="selectTheme(this.id)" title="Amber"></button>
                <button type="button" id="darkTheme" class="theme-swatch darkTheme" onclick="selectTheme(this.id)" title="Dark"></button>
                <button type="button" id="blackTheme" class="theme-swatch blackTheme" onclick="selectTheme(this.id)" title="Black"></button>
                </div>
            </div>
            <div class="form-group font-group">
              <div class="font-size-controls">
                <button type="button" id="fontSizeDecrease">−</button>
                <input type="text" id="fontSizeDisplay" value="100%" />
                <button type="button" id="fontSizeIncrease">+</button>
              </div>
              <select id="fontSelect" onchange="selectFont(this.value)">
                <option value="Inter">Inter</option>
                <option value="Literata">Literata</option>
                <option value="Merriweather">Merriweather</option>
                <option value="Lora">Lora</option>
                <option value="Source Sans 3">Source Sans</option>
                <option value="Zilla Slab">Zilla Slab</option>
              </select>
              <div class="weight-group">
                <button type="button" class="weight-btn" data-weight="300">Light</button>
                <button type="button" class="weight-btn active" data-weight="400">Regular</button>
                <button type="button" class="weight-btn" data-weight="700">Bold</button>
              </div>
            </div>
            <div class="form-group spacing-align-group">
              <div class="line-spacing-controls">
                <button type="button" id="lineSpacingDecrease"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM122.34,101.66a8,8,0,0,0,11.32,0l32-32a8,8,0,0,0-11.32-11.32L136,76.69V16a8,8,0,0,0-16,0V76.69L101.66,58.34A8,8,0,0,0,90.34,69.66Zm11.32,52.68a8,8,0,0,0-11.32,0l-32,32a8,8,0,0,0,11.32,11.32L120,179.31V240a8,8,0,0,0,16,0V179.31l18.34,18.35a8,8,0,0,0,11.32-11.32Z"></path></svg></button>
                <span id="lineSpacingDisplay">1.5</span>
                <button type="button" id="lineSpacingIncrease"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM101.66,53.66,120,35.31V96a8,8,0,0,0,16,0V35.31l18.34,18.35a8,8,0,0,0,11.32-11.32l-32-32a8,8,0,0,0-11.32,0l-32,32a8,8,0,0,0,11.32,11.32Zm52.68,148.68L136,220.69V160a8,8,0,0,0-16,0v60.69l-18.34-18.35a8,8,0,0,0-11.32,11.32l32,32a8,8,0,0,0,11.32,0l32-32a8,8,0,0,0-11.32-11.32Z"></path></svg></button>
              </div>
              <div class="justify-group">
                <button type="button" class="justify-btn active" data-align="left" title="Left align"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 256 256"><path d="M32,64a8,8,0,0,1,8-8H216a8,8,0,0,1,0,16H40A8,8,0,0,1,32,64Zm8,48H168a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16Zm176,24H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Zm-48,40H40a8,8,0,0,0,0,16H168a8,8,0,0,0,0-16Z"></path></svg></button>
                <button type="button" class="justify-btn" data-align="center" title="Center"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 256 256"><path d="M32,64a8,8,0,0,1,8-8H216a8,8,0,0,1,0,16H40A8,8,0,0,1,32,64ZM64,96a8,8,0,0,0,0,16H192a8,8,0,0,0,0-16Zm152,40H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Zm-24,40H64a8,8,0,0,0,0,16H192a8,8,0,0,0,0-16Z"></path></svg></button>
                <button type="button" class="justify-btn" data-align="justify" title="Justify"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 256 256"><path d="M32,64a8,8,0,0,1,8-8H216a8,8,0,0,1,0,16H40A8,8,0,0,1,32,64ZM216,96H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Zm0,40H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Zm0,40H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"></path></svg></button>
                <button type="button" class="justify-btn" data-align="right" title="Right align"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 256 256"><path d="M32,64a8,8,0,0,1,8-8H216a8,8,0,0,1,0,16H40A8,8,0,0,1,32,64ZM216,96H88a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Zm0,40H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Zm0,40H88a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"></path></svg></button>
              </div>
            </div>
            <div class="form-group spread-group" id="layout">
              <button type="button" id="spread" class="spread-icon active" onclick="spread(this.id)" title="Two columns"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="M120,64a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16h72A8,8,0,0,1,120,64Zm-8,32H40a8,8,0,0,0,0,16h72a8,8,0,0,0,0-16Zm0,40H40a8,8,0,0,0,0,16h72a8,8,0,0,0,0-16Zm0,40H40a8,8,0,0,0,0,16h72a8,8,0,0,0,0-16ZM144,72h72a8,8,0,0,0,0-16H144a8,8,0,0,0,0,16Zm72,24H144a8,8,0,0,0,0,16h72a8,8,0,0,0,0-16Zm0,40H144a8,8,0,0,0,0,16h72a8,8,0,0,0,0-16Zm0,40H144a8,8,0,0,0,0,16h72a8,8,0,0,0,0-16Z"></path></svg></button>
              <button type="button" id="nonespread" class="spread-icon" onclick="spread(this.id)" title="One column"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="M32,64a8,8,0,0,1,8-8H216a8,8,0,0,1,0,16H40A8,8,0,0,1,32,64ZM216,96H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Zm0,40H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Zm0,40H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"></path></svg></button>
            </div>
            <div class="form-group toggle-row">
              <label class="toggle-label">
                <input type="checkbox" id="showPagesCount" name="showPagesCount" class="toggle-boolean"/>
                <span class="toggle-span"></span>
              </label>
              <span class="toggle-row-label">{{_('Page count')}}</span>
            </div>
            <div class="form-group toggle-row">
              <label class="toggle-label">
                <input type="checkbox" id="showProgress" name="showProgress" class="toggle-boolean"/>
                <span class="toggle-span"></span>
              </label>
              <span class="toggle-row-label">{{_('Percent complete')}}</span>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <script src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/compress/jszip_epub.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/epub.min.js') }}"></script>
    <script>
        window.calibre = {
            filePath: "{{ url_for('static', filename='js/libs/') }}",
            cssPath: "{{ url_for('static', filename='css/') }}",
            bookmarkUrl: "{{ url_for('web.set_bookmark', book_id=bookid, book_format=book_format) }}",
            bookUrl: "{{ url_for('web.serve_book', book_id=bookid, book_format=book_format, anyname='file.epub') }}",
            bookmark: "{{ bookmark.bookmark_key if bookmark != None }}",
            useBookmarks: "{{ current_user.is_authenticated | tojson }}"
        };

        // Build themes from epub_themes.css classes
        var _themeCssPath = "{{ url_for('static', filename='css/epub_themes.css') }}";
        window.themes = {};
        ["lightTheme", "darkTheme", "sepiaTheme", "amberTheme", "blackTheme"].forEach(function(id) {
            window.themes[id] = { css_path: _themeCssPath };
        });

        function getThemeColors(id) {
            var probe = document.createElement("div");
            probe.className = id;
            probe.style.display = "none";
            document.body.appendChild(probe);
            var cs = getComputedStyle(probe);
            var bg = cs.backgroundColor;
            var tc = cs.color;
            document.body.removeChild(probe);
            return { bg: bg, tc: tc };
        }

        function isLightColor(rgb) {
            var m = rgb.match(/\d+/g);
            if (!m) return false;
            return (parseInt(m[0]) * 299 + parseInt(m[1]) * 587 + parseInt(m[2]) * 114) / 1000 > 160;
        }

        function applyPageTheme(bg, tc) {
            var subtleTc = isLightColor(bg) ? "rgba(88,28,28,0.25)" : "rgba(255,255,255,0.25)";
            document.getElementById("main").style.backgroundColor = bg;
            document.getElementById("titlebar").style.backgroundColor = bg;
            document.getElementById("titlebar").style.color = tc;
            document.querySelector(".read-footer").style.backgroundColor = bg;
            document.getElementById("progress").style.color = tc;
            document.getElementById("pages-count").style.color = tc;
            document.getElementById("metainfo").style.color = tc;
            document.querySelectorAll("#title-controls a").forEach(function(el) { el.style.color = tc; });
            var backBtn = document.getElementById("back-btn");
            if (backBtn) backBtn.style.color = tc;
            document.querySelectorAll(".arrow").forEach(function(el) { el.style.color = subtleTc; });
        }

        function selectTheme(id) {
            document.querySelectorAll("#themes .theme-swatch").forEach(function(btn) {
                btn.classList.remove("active");
            });
            var el = document.getElementById(id);
            if (el) el.classList.add("active");
            localStorage.setItem("calibre.reader.theme", id);
            try { reader.rendition.themes.select(id); } catch (e) {}
            var colors = getThemeColors(id);
            applyPageTheme(colors.bg, colors.tc);
        }

        // Font size
        var currentFontSize = 100;
        function updateFontSize(n) {
            n = Math.max(50, Math.min(300, n));
            currentFontSize = n;
            document.getElementById("fontSizeDisplay").value = n + "%";
            localStorage.setItem("calibre.reader.fontSize", n);
            if (reader && reader.rendition) reader.rendition.themes.fontSize(n + "%");
        }
        var saved = localStorage.getItem("calibre.reader.fontSize");
        if (saved) { currentFontSize = parseInt(saved); document.getElementById("fontSizeDisplay").value = saved + "%"; }
        document.getElementById("fontSizeDecrease").addEventListener("click", function() { updateFontSize(currentFontSize - 5); });
        document.getElementById("fontSizeIncrease").addEventListener("click", function() { updateFontSize(currentFontSize + 5); });
        document.getElementById("fontSizeDisplay").addEventListener("change", function() {
            var v = parseInt(this.value);
            if (!isNaN(v)) updateFontSize(v); else this.value = currentFontSize + "%";
        });

        // Reader style injection (font, weight, text-align into epub iframe)
        window._readerFont = null;
        window._readerFontWeight = null;
        window._readerTextAlign = null;

        window._injectReaderCSS = function(doc) {
            var linkId = 'reader-font-link';
            if (!doc.getElementById(linkId)) {
                var link = doc.createElement('link');
                link.id = linkId;
                link.rel = 'stylesheet';
                link.href = 'https://fonts.bunny.net/css?family=Inter:300,400,500,700|Literata:300,400,400i,700,700i|Merriweather:300,400,400i,700,700i|Lora:300,400,400i,700,700i|Source+Sans+3:300,400,400i,700,700i|Zilla+Slab:300,400,400i,700,700i&display=swap';
                doc.head.appendChild(link);
            }
            var rules = [];
            if (window._readerFont) rules.push('font-family: "' + window._readerFont + '" !important');
            if (window._readerFontWeight) rules.push('font-weight: ' + window._readerFontWeight + ' !important');
            if (window._readerTextAlign) rules.push('text-align: ' + window._readerTextAlign + ' !important');
            var existing = doc.getElementById('reader-font-override');
            if (existing) existing.remove();
            if (rules.length) {
                var style = doc.createElement('style');
                style.id = 'reader-font-override';
                style.textContent = '* { ' + rules.join('; ') + '; }';
                doc.head.appendChild(style);
            }
        };

        window._applyReaderStyles = function() {
            try {
                reader.rendition.getContents().forEach(function(c) {
                    if (c.document) window._injectReaderCSS(c.document);
                });
            } catch (e) {}
            try {
                var viewer = document.getElementById('viewer');
                if (viewer) Array.from(viewer.querySelectorAll('iframe')).forEach(function(f) {
                    try {
                        var doc = f.contentDocument || f.contentWindow.document;
                        if (doc) window._injectReaderCSS(doc);
                    } catch (e) {}
                });
            } catch (e) {}
        };

        window.selectFont = function(id) {
            var sel = document.getElementById("fontSelect");
            if (sel) sel.value = id;
            localStorage.setItem("calibre.reader.font", id);
            window._readerFont = id;
            window._applyReaderStyles();
        };

        // Line spacing
        var currentLineSpacing = 1.5;
        function updateLineSpacing(v) {
            v = Math.max(1.0, Math.min(3.0, Math.round(v * 10) / 10));
            currentLineSpacing = v;
            document.getElementById("lineSpacingDisplay").textContent = v.toFixed(1);
            localStorage.setItem("calibre.reader.lineSpacing", v);
            if (reader && reader.rendition) reader.rendition.themes.override("line-height", String(v), true);
        }
        saved = localStorage.getItem("calibre.reader.lineSpacing");
        if (saved) { currentLineSpacing = parseFloat(saved); document.getElementById("lineSpacingDisplay").textContent = currentLineSpacing.toFixed(1); }
        document.getElementById("lineSpacingDecrease").addEventListener("click", function() { updateLineSpacing(currentLineSpacing - 0.1); });
        document.getElementById("lineSpacingIncrease").addEventListener("click", function() { updateLineSpacing(currentLineSpacing + 0.1); });

        // Text alignment
        function updateTextAlign(align) {
            window._readerTextAlign = align;
            document.querySelectorAll(".justify-btn").forEach(function(btn) {
                btn.classList.toggle("active", btn.getAttribute("data-align") === align);
            });
            localStorage.setItem("calibre.reader.textAlign", align);
            window._applyReaderStyles();
        }
        saved = localStorage.getItem("calibre.reader.textAlign");
        if (saved) document.querySelectorAll(".justify-btn").forEach(function(btn) {
            btn.classList.toggle("active", btn.getAttribute("data-align") === saved);
        });
        document.querySelectorAll(".justify-btn").forEach(function(btn) {
            btn.addEventListener("click", function() { updateTextAlign(this.getAttribute("data-align")); });
        });

        // Font weight
        function updateFontWeight(weight) {
            window._readerFontWeight = weight;
            document.querySelectorAll(".weight-btn").forEach(function(btn) {
                btn.classList.toggle("active", btn.getAttribute("data-weight") === weight);
            });
            localStorage.setItem("calibre.reader.fontWeight", weight);
            window._applyReaderStyles();
        }
        saved = localStorage.getItem("calibre.reader.fontWeight");
        if (saved) {
            window._readerFontWeight = saved;
            document.querySelectorAll(".weight-btn").forEach(function(btn) {
                btn.classList.toggle("active", btn.getAttribute("data-weight") === saved);
            });
        }
        document.querySelectorAll(".weight-btn").forEach(function(btn) {
            btn.addEventListener("click", function() { updateFontWeight(this.getAttribute("data-weight")); });
        });

        // Spread
        function spread(id) {
            document.querySelectorAll("#layout .spread-icon").forEach(function(btn) { btn.classList.remove("active"); });
            document.getElementById(id).classList.add("active");
            reader.rendition.spread(id === "spread" ? true : "none");
        }

        // Toggle visibility settings
        function initToggle(checkboxId, targetId, key) {
            var cb = document.getElementById(checkboxId);
            var el = document.getElementById(targetId);
            var show = localStorage.getItem(key);
            show = show === null ? true : show === "true";
            if (cb) cb.checked = show;
            if (el) el.style.visibility = show ? "visible" : "hidden";
            if (cb) cb.addEventListener("change", function() {
                localStorage.setItem(key, String(cb.checked));
                if (el) el.style.visibility = cb.checked ? "visible" : "hidden";
            });
        }
        initToggle("showPagesCount", "pages-count", "calibre.reader.showPages");
        initToggle("showProgress", "progress", "calibre.reader.showProgress");

        // Bookmarks blank state
        (function() {
            var list = document.getElementById("bookmarks");
            var empty = document.getElementById("bookmarks-empty");
            if (!list || !empty) return;
            function update() { empty.style.display = list.children.length ? "none" : "block"; }
            update();
            new MutationObserver(update).observe(list, { childList: true });
        })();
    </script>
    <script src="{{ url_for('static', filename='js/libs/screenfull.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/reader.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/reading/epub.js') }}"></script>
</body>
</html>
