{% extends "layout.html" %}
{% block header %}{% endblock %}
{% block body %}
<div class="admin-page-wrapper">
  <div class="admin-card">
    <h3 class="admin-card-title">{{_('Tasks')}}</h3>
    <table class="table" id="tasktable" style="display:none;">
      <thead>
        <tr>
          {% if current_user.role_admin() %}
          <th>{{_('User')}}</th>
          {% endif %}
          <th>{{_('Task')}}</th>
          <th>{{_('Status')}}</th>
          <th>{{_('Progress')}}</th>
          <th>{{_('Run Time')}}</th>
          <th>{{_('Start Time')}}</th>
          <th>{{_('Message')}}</th>
          {% if current_user.role_admin() %}
          <th>{{_('Actions')}}</th>
          {% endif %}
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <div id="tasks-empty" class="text-center text-muted" style="padding: 3rem 1rem;">
      <p>{{_('No tasks have been run since the server was started.')}}</p>
    </div>
  </div>
</div>
{% endblock %}
{% block modal %}
{{ delete_book(current_user.role_delete_books()) }}
{% if current_user.role_admin() %}
<div class="modal fade" id="cancelTaskModal" role="dialog" aria-labelledby="metaCancelTaskLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-center">
          <span>{{_('Are you really sure?')}}</span>
      </div>
        <div class="modal-body text-center">
          <p>
            <span>{{_('This task will be cancelled. Any progress made by this task will be saved.')}}</span>
            <span>{{_('If this is a scheduled task, it will be re-ran during the next scheduled time.')}}</span>
          </p>
        </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-danger" value="{{_('Ok')}}" name="cancel_task_confirm" id="cancel_task_confirm" data-dismiss="modal">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{_('Cancel')}}</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
{% block js %}
<script>
$(function() {
    var isAdmin = {{ current_user.role_admin()|tojson }};
    var cancellableStats = [0, 2];

    function loadTasks() {
        $.ajax({
            method: "get",
            url: getPath() + "/ajax/emailstat",
            async: true,
            timeout: 5000,
            success: function(data) {
                var tbody = $("#tasktable tbody");
                tbody.empty();
                if (data.length === 0) {
                    $("#tasktable").hide();
                    $("#tasks-empty").show();
                    return;
                }
                $("#tasktable").show();
                $("#tasks-empty").hide();
                $.each(data, function(i, row) {
                    var tr = "<tr>";
                    if (isAdmin) {
                        tr += "<td>" + (row.user || "") + "</td>";
                    }
                    tr += "<td>" + (row.taskMessage || "") + "</td>";
                    tr += "<td>" + (row.status || "") + "</td>";
                    tr += "<td>" + (row.progress || "") + "</td>";
                    tr += "<td>" + (row.runtime || "") + "</td>";
                    tr += "<td>" + (row.starttime || "") + "</td>";
                    tr += "<td>" + (row.error || "-") + "</td>";
                    if (isAdmin) {
                        tr += "<td>";
                        if (row.task_id && row.is_cancellable && cancellableStats.indexOf(row.stat) !== -1) {
                            tr += '<a class="danger task-cancel" data-toggle="modal" data-target="#cancelTaskModal" data-task-id="' + row.task_id + '" title="Cancel">';
                            tr += '<i class="glyphicon glyphicon-ban-circle"></i>';
                            tr += '</a>';
                        }
                        tr += "</td>";
                    }
                    tr += "</tr>";
                    tbody.append(tr);
                });
            }
        });
    }

    loadTasks();
    setInterval(loadTasks, 2000);

    $("#cancel_task_confirm").click(function() {
        var taskId = $(this).data("task-id");
        $.ajax({
            method: "post",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: getPath() + "/ajax/canceltask",
            data: JSON.stringify({"task_id": taskId}),
        });
    });

    $("#cancelTaskModal").on("show.bs.modal", function(e) {
        var taskId = $(e.relatedTarget).data("task-id");
        $(e.currentTarget).find("#cancel_task_confirm").data("task-id", taskId);
    });
});
</script>
{% endblock %}